<h1> Companies </h1>
<div class="mat-elevation-z8 no-shadow">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 no-shadow">

        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef> Index </th>
            <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="representative">
            <th mat-header-cell *matHeaderCellDef> Representative</th>
            <td mat-cell *matCellDef="let element"> {{element.representative}} </td>
        </ng-container>


        <ng-container matColumnDef="taxnumber">
            <th mat-header-cell *matHeaderCellDef> Tax number </th>
            <td mat-cell *matCellDef="let element"> {{element.taxnumber}} </td>
        </ng-container>


        <ng-container matColumnDef="company_reg_number">
            <th mat-header-cell *matHeaderCellDef> Company Registration Number </th>
            <td mat-cell *matCellDef="let element"> {{element.company_reg_number}} </td>
        </ng-container>

 
        <ng-container matColumnDef="headquarters">
            <th mat-header-cell *matHeaderCellDef> Headquarters </th>
            <td mat-cell *matCellDef="let element"> {{element.headquarters}} </td>
        </ng-container>


        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
        </ng-container>

        
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>
    <img src="assets/plus-circle.svg" class="add-button" routerLink="/addpage/company"/>
    
    
    <mat-paginator [pageSizeOptions]="[5,   10, 20,50]" showFirstLastButtons 
        [length]="dataSource.data.length">
    </mat-paginator>
</div>