.no-shadow {
    box-shadow: none;
  }
  
.add-button{
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 16px;
  transition: transform 0.3 ease-in ;
}
.add-button:hover{
  transform: scale(1.2);
}
h1{
  text-align: center;
}

.clickable{
  cursor: pointer;
}
  