<h1> Rentals </h1>
<div class="mat-elevation-z8 no-shadow">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 no-shadow">

        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef> Index </th>
            <td class="clickable" mat-cell *matCellDef="let element" routerLink={{element._id}}> {{element._id}} </td>
        </ng-container>


        <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef> Start Date </th>
            <td class="clickable" mat-cell *matCellDef="let element" routerLink={{element._id}}> {{element.start_date | date}} </td>
        </ng-container>


        <ng-container matColumnDef="end_date">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td class="clickable" mat-cell *matCellDef="let element" routerLink={{element._id}}> {{element.end_date | date}} </td>
        </ng-container>


        <ng-container matColumnDef="machine">
            <th mat-header-cell *matHeaderCellDef> Machine </th>
            <td class="clickable" mat-cell *matCellDef="let element" routerLink={{element._id}}> {{element.machine}} </td>
        </ng-container>

        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> Company </th>
            <td class="clickable" mat-cell *matCellDef="let element" routerLink={{element._id}}> {{element.company}} </td>
        </ng-container>


        <ng-container matColumnDef="return_condition">
            <th mat-header-cell *matHeaderCellDef> Return Condition </th>
            <td class="clickable" mat-cell *matCellDef="let element" routerLink={{element._id}}> {{element.return_condition}} </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>
    <img src="assets/plus-circle.svg" class="add-button" routerLink="/addpage/rental"/>
    
    
    <mat-paginator [pageSizeOptions]="[5,   10, 20,50]" showFirstLastButtons 
        [length]="dataSource.data.length">
    </mat-paginator>
</div>